.input{
  height: 50px;
  width: 80%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}
.input > input{
  background: none;
  border: none;
  outline: 0;
  margin-left: 12px;
  flex: 1;
  height: 50px;
}
.input > button{
  margin-right: 8px;
  background-color: rgb(214, 213, 213) ;
  border: none;
  border-radius: 8px;
  width: 60px;
  height: 30px;
  outline: 0;
  cursor: pointer;

}