.listaItem{
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  margin: 6px 4px;
  background-color: white;
  border-radius: 12px;
}
.listaItem > p{
  flex: 1;
}
.listaItem--done{
  text-decoration: line-through;
}