
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola mundo con Vue.js</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"></link>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  
  
</head>
<body>

 
  <div id="app" class="container mt-3">
    
    <h1>Mi GYM </h1>
    <br>
    <input type="text" v-model="texto" @keyup.enter="nuevoPost">
    <button class="btn btn-primary" v-on:click="nuevoPost">Agregar</button>
    <hr>
    <div v-for="(item, index) of post" >
      <div class="alert d-flex justify-content-between align-items-center"  :class="{'alert-danger': item.estado,'alert-primary': !item.estado }" >
        <p>{{index}} - {{item.nombre}} - {{item.estado}}</p>
        <span>
          <button @click="item.estado = !item.estado" >Ok</button>
          <button @click="eliminarPost(index)">Delete</button>
        </span>
      </div>
      
     

    </div>
   
  </div>

  <!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./js.js"></script>
</body>
</html>